@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:300;
  font-display:swap;
  src:url(fontes/2f9f484c332ee5de-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:300;
  font-display:swap;
  src:url(fontes/b5215411e8ce7768-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:400;
  font-display:swap;
  src:url(fontes/1c6f4cbc58bf1b54-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:400;
  font-display:swap;
  src:url(fontes/756f9c755543fe29-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:700;
  font-display:swap;
  src:url(fontes/18663a228a3c9261-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:700;
  font-display:swap;
  src:url(fontes/25460892714ab800-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:900;
  font-display:swap;
  src:url(fontes/b15a336eec276995-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:900;
  font-display:swap;
  src:url(fontes/9364c9a9ce248cb1-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:300;
  font-display:swap;
  src:url(fontes/6ec89c3f4265bc9b-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:300;
  font-display:swap;
  src:url(fontes/155cae559bbd1a77-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(fontes/f1df658da56627d0-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:400;
  font-display:swap;
  src:url(fontes/4de1fea1a954a5b6-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url(fontes/162938472036e0a8-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:700;
  font-display:swap;
  src:url(fontes/6d664cce900333ee-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:900;
  font-display:swap;
  src:url(fontes/af4d27004aa34222-s.woff2) format("woff2");
  unicode-range:u+0100-02ba,
  u+02bd-02c5,
  u+02c7-02cc,
  u+02ce-02d7,
  u+02dd-02ff,
  u+0304,
  u+0308,
  u+0329,
  u+1d00-1dbf,
  u+1e00-1e9f,
  u+1ef2-1eff,
  u+2020,
  u+20a0-20ab,
  u+20ad-20c0,
  u+2113,
  u+2c60-2c7f,
  u+a720-a7ff
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:900;
  font-display:swap;
  src:url(fontes/7ff6869a1704182a-s.p.woff2) format("woff2");
  unicode-range:u+00??,
  u+0131,
  u+0152-0153,
  u+02bb-02bc,
  u+02c6,
  u+02da,
  u+02dc,
  u+0304,
  u+0308,
  u+0329,
  u+2000-206f,
  u+20ac,
  u+2122,
  u+2191,
  u+2193,
  u+2212,
  u+2215,
  u+feff,
  u+fffd
}
:root{
--cor-primaria:rgb(36, 202, 104);
--cor-secundaria:rgb(0, 157, 78);
--bg_primario:rgb(255, 255, 255);
--bg_secundario:rgb(249, 249, 249);
--cor_texto:rgb(40, 40, 40);
--cor_texto_gray:rgb(138, 138, 138);
}
html, body{
margin:0 !important;
padding:0 !important;
font-family: "Lato", sans-serif;
width: 100%;
max-width: 100%;
height: 100%;
min-height: 100vh;
background:var(--bg_secundario);
color:var(--cor_texto);
}
a{
text-decoration: none !important;
transition:all 0.3s linear;
}
ul{
margin:0 !important;
padding:0 !important;
}
ul li{
padding:0;
margin:0;
list-style: none;
}
img{
max-width: 100%;
height:auto;
border:0;
outline: 0;
}
button, input, a, select, textarea{
outline: 0 !important;
border:0;
text-decoration: none;
transition:all 0.2s linear;
}
.loading {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 10000;
visibility: hidden;
opacity: 0;
transition: all .2s ease-out;
background: #fff;
display: flex;
align-items: center;
justify-content: center;
flex-wrap:wrap;
}
.loading > div{
width:100%;
text-align: center;
}
.loading.active{
opacity:1;
visibility:visible;
transition: all .2s ease-out;	
}
.loading #logo-loading, #loading-form img{
animation: pulse 0.7s infinite;
margin: 0 auto 0px;
animation-direction: alternate;
-webkit-animation-name: pulse;
animation-name: pulse;
width:150px;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(200%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
#loading-form{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 10000;
visibility: visible;
opacity: 1;
transition: all .2s ease-out;
background: rgb(255,255,255,.6);
display: none;
align-items: center;
justify-content: center;
flex-wrap:wrap;
}
.container{
max-width:1140px !important;
width:100% !important;
position:relative;
z-index:3;
padding:0 15px;
}
header{
border-bottom: 2px solid rgb(241, 240, 240);
background-color: rgb(255, 255, 255);
position: relative;
z-index: 99;
}
header .content-header{
height:90px;
}
.menu-header{
width: calc(100% - 170px);
padding: 0px 0px 0px 56px;
}
.menu-header .item-menu{
position: relative;
font-size: 16px;
line-height: 24px;
font-weight: 700;
color: var(--cor_texto);
white-space: nowrap;
text-decoration: none;
text-transform: none;
font-family: "Montserrat", serif;
cursor:pointer;
transition: all .2s linear;
}
.menu-header .item-menu svg {
fill: var(--cor_texto);
width: 24px;
height: 24px;
margin-left: 8px;
}
.menu-header .item-menu:hover{
opacity: 0.8;
}
.menu-header .item-menu:nth-child(1){
padding: 0px 16px 0px 0px;
}
.menu-header .item-menu:nth-child(2){
padding: 0px 16px;
}
.menu-header .item-menu:nth-child(3){
padding: 0px 0px 0px 16px;
}
.menu-header .logArea{
width:100%;
}
.menu-header .item-menu-busca{
display: flex;
align-items: center;
cursor: pointer;
}
.menu-header .item-menu-busca span{
font-size: 14px;
line-height: 21px;
font-family: "Montserrat", serif;
color: var(--cor-primaria);
font-weight: 700;
transition: all .2s linear;
}
.menu-header .item-menu-busca svg{
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 24px;
height: 24px;
display: inline-block;
fill: var(--cor-primaria);
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
transition: all .2s linear;
padding-left: 3px;
}
.menu-header .item-menu-account{
padding: 0px 16px 0px 32px;
font-size: 14px;
line-height: 21px;
font-family: "Montserrat", serif;
color: var(--cor-primaria);
font-weight: 700;
cursor: pointer;
transition: all .2s linear;
}
.menu-header .item-menu-account:hover, .menu-header .item-menu-busca:hover span{
color:var(--cor-secundaria);
}
.menu-header .item-menu-busca:hover svg{
fill:var(--cor-secundaria);
}
button.btn-create-button{
-moz-box-align: center;
align-items: center;
cursor: pointer;
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: var(--cor-primaria);
padding: 8px 12px;
font-size: 14px;
line-height: 21px;
font-weight: 700;
color: rgb(255, 255, 255);
font-family: "Montserrat", serif;
transition: all .2s linear;
}
button.btn-create-button:hover{
background-color: var(--cor-secundaria);
}
section#corpo{
position: relative;
padding:20px 0;
}
.topVakinha{
margin: 10px 0px 20px;
}
.topVakinha span{
font-size: 14px;
text-transform: uppercase;
font-weight: normal;
color: rgb(64, 64, 64);
display: flex;
justify-content: center;
}
.topVakinha h1{
margin: 5px auto 7px;
color: rgb(64, 64, 64);
font-weight: 700;
font-size: 48px;
text-align: center;
}
.topVakinha h1 + span{
color: rgb(40, 40, 40);
font-size: 18px;
line-height: 27px;
}

.detailsVakinha{
margin-right: -15px;
margin-left: -15px;
}
.detailsVakinha .detalhes{
flex: 0 0 66.6667%;
max-width: 66.6667%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.detailsVakinha .detalhes .detalhes-view{
padding: 15px;
background-color: rgb(255, 255, 255);
position: relative;
}
.galeria{
overflow: hidden;
position:relative;
}
.jeWFMw {
display: flex;
width: unset;
padding:26px 0 20px;
}
.haSOVG {
display: flex;
list-style-type: none;
margin: 0px;
padding: 0px 7px 0px 0px;
}
.gNSeDc {
position: relative;
width: 14px;
}
.lgcmt {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(241, 240, 240);
border-radius: 50px;
color: rgb(255, 255, 255);
display: block;
line-height: 38px;
text-align: center;
height: 38px;
width: 38px;
max-width: 38px;
}
.jLFjnt {
background-color: rgb(241, 240, 240);
border: 1px solid rgb(241, 240, 240);
border-radius: 50px;
color: rgb(64, 64, 64);
font-weight: 700;
display: flex;
justify-content: center;
align-items: center;
height: 38px;
width: 38px;
font-size: 16px;
padding-bottom: 3px;
}
.kaMzRM {
padding: 0px 0px 0px 34px;
display: flex;
width: unset;
-moz-box-align: center;
align-items: center;
}
.ivmFdA {
font-size: 14px;
line-height: 21px;
font-weight: 500;
}
.iVMVsL{
padding: 0px 0px 1px 4px;
}
.galeria-pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
display: flex;
justify-content: center;
position: absolute;
bottom:15px;
left: 0;
width:100%;
z-index: 5;
}
.galeria-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet{
cursor: pointer;
background-color: #fff;
opacity: 1;
width: 10px;
height: 10px;
margin:4px;
transition: all .3s linear;
}
.galeria-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active{
background-color: var(--cor-primaria);
}
.cbskvx{
width: 40px;
height: 40px;
position: absolute;
top: 14px;
right: 14px;
z-index: 5;
box-shadow: rgb(40, 40, 40) 1px 1px 3px;
border-radius: 50%;
}
.cbskvx::after {
content: "";
display: block;
position: absolute;
border-radius: 20px;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
opacity: 0;
transition: 0.5s;
box-shadow: rgb(255, 255, 255) 0px 0px 10px 40px;
}

.detailsVakinha .resumo{
flex: 0 0 33.3333%;
max-width: 33.3333%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.detailsVakinha .resumo .sticker-resumo{
background-color: rgb(255, 255, 255);
padding: 0px 16px;
position: sticky;
top:15px;
}
.detailsVakinha .resumo .sticker-resumo .progresso{
padding: 20px 0 22px;
}
.detailsVakinha .resumo .sticker-resumo .progresso .barra-geral{
display: flex;
-moz-box-align: center;
align-items: center;
}
.detailsVakinha .resumo .sticker-resumo .barraTotal{
position: relative;
width: 100%;
overflow: hidden;
border-radius: 15px;
height: 5px;
background: rgb(241, 240, 240);
display: inline-block;
}
.detailsVakinha .resumo .sticker-resumo .barraParcial{
overflow: hidden;
background: var(--cor-primaria);
height: 100%;
border-radius: 15px;
flex: 1 1 0%;
transition: all .2s linear;
}
.detailsVakinha .resumo .sticker-resumo .arrecadado span{
font-size: 20px;
font-weight: 700;
display: block;
line-height: 1;
}
.detailsVakinha .resumo .sticker-resumo .arrecadado h2{
font-size: 36px;
font-weight: 700;
color: var(--cor-primaria);
margin:0;
}
.detailsVakinha .resumo .sticker-resumo .meta, .detailsVakinha .resumo .sticker-resumo .apoiadores{
margin-top: 20px;
}
.detailsVakinha .resumo .sticker-resumo .meta span, .detailsVakinha .resumo .sticker-resumo .apoiadores span{
display: block;
font-size: 20px;
color: var(--cor_texto_gray);
line-height: 1.1;
}
.detailsVakinha .resumo .sticker-resumo .acao .btn-ajudar{
-moz-box-align: center;
align-items: center;
cursor: pointer;
color: rgb(255, 255, 255);
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: var(--cor-primaria);
padding: 12px 16px;
width: 100%;
font-size: 20px;
line-height: 24px;
font-family: "Montserrat", serif;
transition: all .2s linear;
font-weight: 700;
margin-bottom: 16px;
}
.detailsVakinha .resumo .sticker-resumo .acao .btn-ajudar:hover{
background-color: var(--cor-secundaria);
}
.detailsVakinha .resumo .sticker-resumo .acao{
border-bottom: 1px solid rgb(218, 218, 218);
margin-bottom: 15px;
margin-top: 15px;
}
.perfil .avatar{
border: 3px solid rgb(241, 240, 240);
margin-right: 5px;
width: 45px;
height: 45px;
border-radius: 50%;
background-color: #c2c2c2;
}
.perfil .avatar img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
}
.perfil .dadosPerfil{
width: calc(100% - 50px);
}
.perfil .dadosPerfil h3{
display: flex;
-moz-box-align: center;
align-items: center;
font-weight: 700;
font-size: 14px;
color: rgb(64, 64, 64);
margin: 0 0 4px;
}
.perfil .dadosPerfil span.cidade{
font-size: 12px;
display: block;
color: rgb(40, 40, 40);
font-weight: 400;
line-height: 16px;
}
.perfil .dadosPerfil span.ativo{
font-size: 12px;
display: block;
color: rgb(64, 64, 64);
font-weight: 700;
line-height: 16px;   
}
.perfil .dadosPerfil span.vakinhas{
display: flex;
align-items: center;
font-size: 12px;
font-weight: 700;
color: rgb(40, 40, 40);
margin: 3px 0 0;
}
span.vakinhas .bullet{
margin: 2px 5px 0;
background: rgb(40, 40, 40);
width: 5px;
height: 5px;
border-radius: 50%;
}
.perfil .dadosPerfil a{
font-size: 10px;
white-space: nowrap;
text-decoration: underline !important;
color: rgb(20, 146, 230);
display: block;
margin: 6px 0 25px 4px;
}
.menu-detalhes{
margin:25px 0 0;
}
.menu-detalhes ul{
display: flex;
align-items: center;
}
.menu-detalhes ul li{
border-bottom: 2px solid rgb(223, 223, 223);
padding: 8px !important;
text-align: center;
cursor: pointer;
font-size: 18px;
line-height: 27px;
font-weight: 400;
color: rgb(40, 40, 40);
font-family: "Montserrat", serif;
}
.menu-detalhes ul li:not(:last-child){
margin-right: 16px;
}
.menu-detalhes ul li.active{
border-bottom: 2px solid var(--cor-primaria);
font-weight: 700;
color:var(--cor-primaria);
}
.show-sobre{
background-color: rgb(255, 255, 255);
padding: 25px 16px;
}
.show-sobre span.inicio{
display: block;
font-size: 14px;
color: rgb(58, 58, 58);
margin: 0 0 15px;
}
.show-sobre p{
color: rgb(40, 40, 40);
font-size: 16px;
line-height: 22px;
font-weight: 400;
}
.plugin-facebook{
background-color: rgb(255, 255, 255);
padding: 20px 16px;
margin-top:20px;
}
.facebook-comments .content-box h4 {
font-size: 16px;
font-weight: 600;
color: rgb(58, 58, 58);
margin-bottom: 20px;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
.facebook-comments .content-box .comentario {
margin-bottom: 20px;
}
.facebook-comments .content-box .comentario .content-comentario {
display: flex;
align-items: flex-start;
justify-content: space-between;
}
.facebook-comments .content-box .comentario .content-comentario .avatar {
width: 50px;
height: 50px;
border-radius: 50%;
overflow: hidden;
margin-right: 10px;
}
.facebook-comments .content-box .comentario .content-comentario .avatar img{
width:100%;
height:100%;
object-fit: cover;
border-radius: 50%;
}
.facebook-comments .content-box .comentario .text-comentario {
width: calc(100% - 60px);
}
.facebook-comments .content-box .comentario .text-comentario h3 {
font-size: 16px;
color: #365899;
font-weight: 600;
margin: 0;
}
.facebook-comments .content-box .comentario .text-comentario p {
color: #1E1E1E;
font-size: 15px;
margin: 0 0 0;
line-height: 20px;
max-width: 96%;
}
.facebook-comments .content-box .comentario .text-comentario .d-flex span {
font-weight: 400;
font-size: 14px;
color: #365899;
}
.facebook-comments .content-box .comentario .text-comentario .d-flex span:not(:last-child) {
padding-right: 8px;
margin-right: 5px;
position: relative;
}
.facebook-comments .content-box .comentario .text-comentario .d-flex span:not(:last-child)::after {
content: "";
width: 3px;
height: 3px;
background: #131313;
border-radius: 50%;
right: 0;
top: 50%;
transform: translatey(-50%);
position: absolute;
}
.facebook-comments .content-box .comentario .respostas-comentarios {
padding-left: 30px;
margin: 25px 0 25px 29px;
border-left: 1px solid #ccc;
}
.facebook-comments p.final{
margin: 0;
text-align: center;
font-weight: 600;
font-size: 14px;
color: #555;
}
.notificacao{
background-color: #fff;
border-radius: 50px;
box-shadow: 0 0 20px rgb(13,13,13,.2);
position: fixed;
z-index:99;
left: 25px;
bottom: 40px;
padding: 10px 34px 10px 10px;
transition: all .2s linear;
transform: translatey(20px);
display: flex;
align-items: center;
}
.notificacao .avatar{
width: 46px;
height: 46px;
border-radius: 50%;
margin-right: 12px;
}
.notificacao .avatar img{
width: 100%;
height: 100%;
border-radius: 50%;
object-fit: cover;
}
.notificacao .content{
width: calc(100% - 58px);
font-size: 15px;
font-weight: 400;
line-height: 20px;
}
.notificacao .content h4{
font-size: 16px;
font-weight: 700;
color: var(--cor-primaria);
line-height: 21px;
margin: 0;
}

footer{
background-color: rgb(40, 40, 40);
position:relative;
margin-top:40px;
}
footer .aviso{
position: absolute;
top: -30px;
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: rgb(138, 138, 138);
left: 0;
width: 100%;
}
footer .content-footer{
padding: 24px 0px;
}
footer .copyright{
background-color: rgb(90, 90, 90);
display: flex;
width: unset;
-moz-box-pack: center;
justify-content: center;
padding: 8px 0px 10px;
}
footer .copyright span{
font-size: 12px;
line-height: 18px;
color:#fff;
font-weight: 400;
}
footer .sociais li a{
display: flex;
-moz-box-align: center;
align-items: center;
cursor: pointer;
}
footer .sociais li a svg{
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 24px;
height: 24px;
display: inline-block;
fill: #fff;
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
transition: all .2s linear;
}
footer .sociais li .separador{
margin: 0px 8px;
width: 2px;
height: 20px;
border-left: 1px solid rgb(255, 255, 255);
}
footer .sociais li:last-child svg{
width:30px;
height:30px;
}
footer .content{
padding: 25px 0px 0px;
}
footer .content .aba h4{
font-size: 16px;
line-height: 24px;
font-weight: 700;
color: var(--cor-secundaria);
text-decoration: none;
text-transform: none;
min-height: 24px;
display: flex;
margin: 0;
}
footer .content .aba ul{
padding: 12px 0px 0px !important;
}
footer .content .aba ul li:not(:last-child){
padding-bottom: 8px !important;
}
footer .content .aba ul li a, footer .content .aba ul li span{
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: #FFF;
text-decoration: none;
text-transform: none;
transition: all .2s linear;
display: flex;
}
footer .content .aba ul li a:hover{
opacity: 0.8;
color:#fff;
}

.modal.open{
display: flex;
align-items: center;
justify-content: center;
background:rgb(13,13,13,.75);
position: fixed;
}
.modal.open .fora-modal{
position: absolute;
left:0;
top:0;
width:100%;
height:100%;
z-index: 4;
cursor: pointer;
}
.modal.open .content-modal{
background-color: #fff;
position: relative;
z-index: 10;
border-radius: 10px;
padding:25px 25px 15px;
max-width: 90%;
}
.modal.open .content-modal .close-modal{
display: flex;
align-items: center;
justify-content: center;
background: var(--cor-primaria);
border-radius: 50%;
width: 32px;
height: 32px;
transition: all .2s linear;
cursor: pointer;
position: absolute;
right: -10px;
top: -10px;
}
.modal.open .content-modal .close-modal:hover{
background:var(--cor-secundaria);
}
.modal.open .content-modal h2{
font-weight: 700;
font-size: 20px;
text-align: center;
margin: 0 auto 15px;
}
.modal.open .content-modal .valores{
max-width: 380px;
}
.modal.open .content-modal .valores a{
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background-color: var(--cor-primaria);
border-radius: 5px;
height: 40px;
width: 120px;
font-weight: 700;
transition: all .2s linear;
margin-bottom: 12px;
}
.modal.open .content-modal .valores a:hover{
background-color: var(--cor-secundaria);
color:#fff;
}
section#login{
padding: 30px 0 40px;
min-height: calc(100vh - 481px);
}
.area-login{
max-width: 350px;
margin: 0 auto;
}
.area-login h2{
font-size: 30px;
line-height: 34px;
color: rgb(40, 40, 40);
text-align: center;
}
.area-login h3{
font-size: 16px;
color: rgb(112, 112, 112);
text-align: center;
margin:0 0 20px;
}
.input-area{
position: relative;
margin-bottom: 15px;
display: flex;
flex-wrap: wrap;
}
.input-area label{
display: block;
font-size: 16px;
line-height: 20px;
font-weight: 700;
color: rgb(64, 64, 64);
margin: 0 2px 4px;
width:100%;
}
.input-area input{
height: 46px;
border: 1px solid rgb(185, 185, 185);
border-radius: 8px;
font-size: 16px;
color: rgb(40, 40, 40);
width: 100%;
padding: 5px 15px 8px;
background-color:#fff;
}
button.btn-submit{
display: flex;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
min-width: 40px;
border-radius: 5px;
cursor: pointer;
width: 100%;
color: rgb(255, 255, 255);
background-color: rgb(36, 202, 104);
border: 1px solid rgb(36, 202, 104);
font-size: 20px;
padding: 7px 16px;
transition: all .2s linear;
margin-top:25px;
}
button.btn-submit:hover{
background-color:var(--cor-secundaria);
border-color:var(--cor-secundaria);
}
.alert-login{
background-color: rgb(220, 53, 69);
padding: 13px 20px 16px;
list-style: none;
border-radius: 10px;
color: rgb(255, 255, 255);
font-size: 16px;
margin: 0 auto -10px;
display: none;
}
.show-pass{
color: #999;
right: 10px;
top: 35px;
cursor: pointer;
font-size: 15px;
}
section#painel{
min-height: calc(100vh - 481px);
background-color:#fff;
}
.content-painel{
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.content-painel .menu-painel{
flex: 0 0 25%;
max-width: 25%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.content-painel .menu-painel ul.list-menu-painel{
width: 255px;
margin: 20px 0px !important;
background-color: transparent;
padding: 16px 16px 32px !important;
border-radius: 0;
border-top: 1px solid rgb(241, 240, 240);
}
.content-painel .menu-painel ul.list-menu-painel li{
padding: 8px 0px 10px !important;
}
.content-painel .menu-painel ul.list-menu-painel li a{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 16px;
line-height: 24px;
font-weight: 700;
color: rgb(40, 40, 40);
text-decoration: none;
text-transform: none;
font-family: "Montserrat", arial, Arial, sans-serif;
transition:all .2s linear;
}
.content-painel .menu-painel ul.list-menu-painel li a:hover{
opacity: 0.8;
}
.content-painel .view-painel{
flex: 0 0 75%;
max-width: 75%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.content-painel .view-painel .content-view-painel{
margin: 20px 0px !important;
background-color: transparent;
padding: 16px 16px 32px !important;
border-radius: 0;
border-top: 1px solid rgb(241, 240, 240);
}
h2.title-painel{
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
border-bottom: 1px solid #ccc;
padding-bottom: 10px;
margin-bottom: 15px;
}
.frase-senha{
color: #856404;
background-color: #fff3cd;
border: 1px solid #ffeeba;
font-size: 14px;
font-family: Montserrat;
font-weight: 500;
padding: 5px 15px;
border-radius: 5px;
margin: 0 0 10px;
}
section#contribuicao{
min-height:calc(100vh - 481px);
background-color:#fff;
padding:25px 0;
}
.areaDoacao h2{
font-size: 24px;
line-height: 28px;
font-weight: 700;
color: rgb(40, 40, 40);
text-decoration: none;
text-transform: none;
margin: 0 0 3px;
}
.areaDoacao h4{
font-size: 16px;
line-height: 24px;
font-weight: 400;
color: rgb(40, 40, 40);
text-decoration: none;
text-transform: none;
margin: 0 0 15px;
}
.input-area span.currency{
background-color: rgb(241, 240, 240);
color: rgb(40, 40, 40);
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px 0px 0px 8px;
border: 1px solid rgb(185, 185, 185);
width: 50px;
height: 46px;
border-right: 0;
padding-bottom:3px;
}
.input-area span.currency + input{
width: calc(100% - 50px);
border-radius: 0 8px 8px 0;
}
section#contribuicao .input-area{
margin-bottom:20px;
}
.forma-pagamento{
margin:10px 0 25px;
}
.forma-pagamento h3{
color: rgb(40, 40, 40);
font-weight: bold;
font-size: 16px;
margin: 0 0 7px;
}
.forma-pagamento .radios .radio label{
cursor: pointer;
position: relative;
border: 1px solid rgb(36, 202, 104);
color: rgb(36, 202, 104);
font-size: 14px;
line-height: 21px;
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
height: 39px;
align-items: center;
padding: 8px;
opacity: 0.8;
}
.forma-pagamento .radios .radio label div{
border-radius: 7px;
height: 13px;
width: 13px;
margin-right: 5px;
border: 1px solid rgb(36, 202, 104);
}
.forma-pagamento .radios .radio:not(:last-child) {
margin-right: 5px;
}
.forma-pagamento .radios .radio input:checked + label{
border: 1px solid transparent;
background-color: rgb(36, 202, 104);
color:#fff;
opacity: 1;
}
.forma-pagamento .radios .radio input:checked + label div{
border-radius: 7px;
height: 13px;
width: 13px;
margin-right: 5px;
outline: rgb(255, 255, 255) solid 1px;
border: 3.5px solid rgb(36, 202, 104);
background-color: rgb(255, 255, 255);
}
.forma-pagamento small{
display: block;
font-size: 13px;
color: #555;
margin: 2px 0 5px;
}
.turbinar label{
display: block;
font-size: 16px;
line-height: 24px;
position: relative;
font-weight: 700;
color: rgb(58, 58, 58);
text-decoration: none;
text-transform: none;
padding-left: 23px;
cursor:pointer;
}
.turbinar label:before{
content:"";
color:rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
border: 1px solid rgb(36, 202, 104);
width: 16px;
height: 16px;
border-radius: 4px;
transition:all .2s linear;
position:absolute;
left:0;
top:50%;
transform:translatey(-50%);
display:flex;
align-items:center;
justify-content:center;
font-size: 12px;
}
.turbinar input:checked + label:before{
background-color: rgb(36, 202, 104);
border: 1px solid rgb(36, 202, 104);
}
.turbinar span{
display: block;
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: rgb(58, 58, 58);
text-decoration: none;
text-transform: none;
margin: 5px 0 15px;
}
.turbinar span strong{
font-weight: 700;
}
.fvepao {
display: flex;
display: flex;
padding: 0;
position: relative;
width: 100%;
max-width: 570px;
margin: 0 0 30px;
padding:0;
}
.bLTnwp {
flex: 2 1 0%;
border: 1px dashed rgb(136, 136, 136);
border-top-left-radius: 8px;
border-bottom-left-radius: 8px;
}
.ecrGfU {
display: flex;
width: unset;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
padding: 16px 8px 16px 0px;
}
.ehLNSA {
flex: 1 1 0%;
}
.kFiyWA {
display: flex;
width: unset;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
flex-direction: column;
padding:0;
}
.YkWpX {
padding: 8px 0px;
}
.cRLruL {
font-size: 12px;
line-height: 18px;
text-align: center;
font-weight: 700;
color: rgb(58, 58, 58);
text-decoration: none;
text-transform: none;
}
.cBAvc {
font-size: 12px;
line-height: 18px;
text-align: center;
font-weight: 400;
color: rgb(90, 90, 90);
text-decoration: none;
text-transform: none;
}
.ezSpma {
flex: 1 1 0%;
border-radius: 0px 5px 5px 0px;
word-break: break-word;
padding: 16px;
background-color: rgb(36, 202, 104);
display: flex;
width: unset;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
}
.fWMyqA {
display: flex;
width: unset;
-moz-box-align: center;
align-items: center;
flex-direction: column;
padding: 0;
}
.fUCiJH {
padding: 4px 0px 0px;
}
.iBaFYo {
font-size: 14px;
line-height: 21px;
text-align: center;
font-weight: 400;
color: rgb(255, 255, 255);
text-decoration: none;
text-transform: none;
}
.iBaFYo * {
text-align: center;
font-size: 14px;
color: rgb(255, 255, 255);
}
.resumo ul li{
font-size: 14px;
line-height: 21px;
font-weight: 400;
color: rgb(138, 138, 138);
text-decoration: none;
text-transform: none;
}
.resumo ul li span.separador{
width: 100%;
height: 1px;
background-color: rgb(223, 223, 223);
margin: 12px 0px;
display: block;
}
.resumo{
margin: 0 0 20px;
}
.area-atualizacoes label{
display: block;
font-size: 16px;
line-height: 24px;
position: relative;
font-weight: 400;
color: rgb(58, 58, 58);
text-decoration: none;
text-transform: none;
padding-left: 23px;
cursor: pointer;
}
.area-atualizacoes label:before{
content:"✔";
color:rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
border: 1px solid rgb(36, 202, 104);
width: 16px;
height: 16px;
border-radius: 4px;
transition:all .2s linear;
position:absolute;
left:0;
top:50%;
transform:translatey(-50%);
display:flex;
align-items:center;
justify-content:center;
font-size: 12px;
}
.area-atualizacoes input:checked + label:before{
background-color: rgb(36, 202, 104);
border: 1px solid rgb(36, 202, 104);
}
.area-atualizacoes small{
display: block;
font-size: 10px;
line-height: 15px;
font-weight: 400;
color: rgb(90, 90, 90);
text-decoration: none;
text-transform: none;
margin: 5px 0 20px;
}
button.btn-contribuir{
-moz-box-align: center;
align-items: center;
cursor: pointer;
color: rgb(255, 255, 255);
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: rgb(36, 202, 104);
width: 570px;
max-width: 100%;
transition: all .2s linear;
height: 44px;
font-size: 18px;
line-height: 24px;
font-weight: 700;
color: rgb(255, 255, 255);
text-decoration: none;
text-transform: uppercase;
font-family: "Montserrat", arial, Arial, sans-serif;
margin: 0 0 20px;
}
button.btn-contribuir:hover{
background-color: var(--cor-secundaria);
border-color:var(--cor-secundaria);
}
.area-selo{
background-color: rgb(241, 240, 240);
display: flex;
align-items: center;
justify-content: center;
width: 570px;
max-width: 100%;
padding: 12px 8px;
border-radius: 8px;
margin:0 0 20px;
}
.area-selo .selo{
margin-right: 10px;
}
.area-selo span{
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: rgb(58, 58, 58);
text-decoration: none;
text-transform: none;
}
.final span{
font-size: 12px;
line-height: 18px;
font-weight: 400;
color: rgb(40, 40, 40);
text-decoration: none;
text-transform: none;
display: block;
margin: 0 0 10px;
}
.final small{
display: block;
font-size: 10px;
line-height: 15px;
font-weight: 400;
color: rgb(90, 90, 90);
text-decoration: none;
text-transform: none;
margin:0 0 30px;
}
.input-area input:focus, .input-area input:focus-visible{
box-shadow: rgba(90, 90, 90, 0.5) 0px 0px 4px;
border-color: rgb(90, 90, 90);
}
.input-area input.error{
border: 1px solid rgb(220, 86, 99);
}
.aviso_valor{
display: block;
font-size: 13px;
line-height: 18px;
font-weight: 400;
color: rgb(220, 53, 69);
text-decoration: none;
text-transform: none;
margin: -15px 5px 10px;
}
section#pix{
background-color:#fff;
position:relative;
padding:25px 0;
min-height: calc(100vh - 481px);
}
section#pix h2{
font-weight: 700;
width: 100%;
color: rgb(64, 64, 64);
text-transform: none;
font-size: 30px;
text-align: center;
max-width: 370px;
margin: 0 auto 30px;
line-height: 34px;
}
.gABASg {
display: flex;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
-moz-box-pack: center !important;
justify-content: center !important;
}
.xZJPQ {
order: -1;
flex: 0 0 66.6667%;
max-width: 66.6667%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.hNIFhj {
background-color: rgb(241, 240, 240);
display: flex;
padding: 15px 0px;
-moz-box-pack: justify;
justify-content: space-between;
-moz-box-align: center;
align-items: center;
margin-bottom: 30px;
}
.hNIFhj > div:nth-child(2){
max-width: 210px;
}
.hNIFhj > div {
margin: 0px 10px;
max-width: 270px;
}
.hNIFhj > div img{
width:200px;
}
.cGIZSC.cGIZSC, .cGIZSC * {
font-size: 12px;
line-height: 16px;
}
.cGIZSC.cGIZSC, .cGIZSC strong {
color: rgb(64, 64, 64);
}
.cGIZSC {
overflow-wrap: break-word;
overflow: auto;
width: 100%;
text-align: left;
}
.cGIZSC strong {
font-weight: bold;
}
.hEsEVs {
box-sizing: border-box;
padding-top: 10px;
padding-bottom: 10px;
}
.dvvlrz.dvvlrz, .dvvlrz * {
font-size: 15px;
line-height: 20px;
}
.dvvlrz.dvvlrz, .dvvlrz strong {
color: rgb(64, 64, 64);
}
.dvvlrz {
overflow-wrap: break-word;
overflow: auto;
width: 100%;
text-align: left;
}
.hEsEVs {
box-sizing: border-box;
padding-top: 10px;
padding-bottom: 10px;
}
.ewkaQV {
display: flex;
-moz-box-align: center;
align-items: center;
}
.ewkaQV > div:first-child {
margin-right: 10px;
}
.jTUrlq {
fill: rgb(185, 185, 185);
}
.kclPJT {
order: 13;
flex: 0 0 33.3333%;
max-width: 33.3333%;
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}
.hWjcOR {
box-sizing: border-box;
padding-top: 0px;
padding-bottom: unset;
}
.cDcoiR {
box-sizing: border-box;
padding-top: unset;
padding-bottom: 10px;
}
.kUxHXG {
position: relative;
display: flex;
}
.fOrdEp::placeholder {
color: rgb(138, 138, 138);
}
.diewEn {
padding-right: 50px !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.fOrdEp {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(185, 185, 185);
border-radius: 8px;
color: rgb(40, 40, 40);
line-height: 24px;
font-size: 16px;
max-height: 48px;
padding: 12px 16px;
width: 100%;
outline-style: none;
}
.jYLnrE {
position: absolute;
right: 16px;
bottom: 12px;
}
.hSmCAj {
background-color: transparent;
border-radius: 0px;
padding: 0px;
display: flex;
-moz-box-pack: center;
justify-content: center;
}
.hSmCAj.hSmCAj.hSmCAj svg {
font-size: 24px;
}
.css-vubbuv {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
width: 24px;
height: 24px;
display: inline-block;
fill: rgb(138, 138, 138);
-webkit-flex-shrink: 0;
-ms-flex-negative: 0;
flex-shrink: 0;
-webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
font-size: 1.5rem;
}
.cDcoiR + span{
font-size: 13px;
line-height: 18px;
display: block;
}
.image-campanha{
padding:15px;
background-color:#fff;
position: relative;
margin-bottom: -5px;
}
.image-campanha img{
border-radius:8px;
}
#fixed-mobile{
padding: 16px;
border-radius: 16px 16px 0px 0px;
background-color: rgb(255, 255, 255);
width: 100%;
position: fixed;
bottom: 0;
left: 0;
z-index: 5;
}
#fixed-mobile button.btn-ajudar{
-moz-box-align: center;
align-items: center;
cursor: pointer;
color: rgb(255, 255, 255);
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: var(--cor-primaria);
padding: 12px 16px;
width: 100%;
font-size: 20px;
line-height: 24px;
font-family: "Montserrat", serif;
transition: all .2s linear;
font-weight: 700;
max-width: 400px;
margin: 0 auto;
}
#fixed-mobile button.btn-ajudar:hover{
background-color: var(--cor-secundaria);
}
.content-campanha, .content-campanha .show-sobre{
width: 100%
}
.content-campanha .show-sobre p{
font-size: 18px;
font-weight: 500;
color: #000;
max-width:800px;
margin:0 auto 20px;
}
.content-campanha .show-sobre button.btn-ajudar{
-moz-box-align: center;
align-items: center;
cursor: pointer;
color: rgb(255, 255, 255);
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: var(--cor-primaria);
padding: 12px 16px;
width: 100%;
font-size: 20px;
line-height: 24px;
font-family: "Montserrat", serif;
transition: all .2s linear;
font-weight: 700;
animation: pulser 2s infinite;
margin: 25px auto 25px;
max-width: 800px;
}
.content-campanha .show-sobre button.btn-ajudar:hover{
background-color:var(--cor-secundaria);
}
@keyframes pulser {
    0% { transform: scale(1);box-shadow:0 0 0px rgb(36,202,104,0.4); }
    50% { transform: scale(1.06);box-shadow:0 0 20px rgb(36,202,104,0.4); }
    100% { transform: scale(1);box-shadow:0 0 0px rgb(36,202,104,0.4); }
}



















@media(max-width:992px){
.modal.open .content-modal .valores a{
width: 32%; 
font-size: 15px;
}
.modal.open .content-modal{
padding: 25px 15px 15px;
}
.content-header .logo{
max-width:125px;
}
button.menu-mobile{
width: 32px;
height: 32px;
background: transparent;
padding: 0;
}
button.menu-mobile svg{
width: 100%;
height: 100%;
fill: rgb(40, 40, 40);
opacity: 0.8;
}
.busca-mobile{
padding-right: 16px;
}
.busca-mobile svg{
fill: var(--cor-primaria);
width: 32px;
height: 32px;
}
header .content-header {
height: 80px;
}
section#corpo{
padding:0;
}
.topVakinha h1 + span {
color: rgb(40, 40, 40);
font-size: 16px;
line-height: 24px;
}
.topVakinha h1{
font-size: 24px;
}
.detailsVakinha .detalhes{
max-width: 100%;
flex: 0 0 100%;
}
.detailsVakinha .resumo{
display: none;
}
.jLFjnt{
width:30px;
height:30px;
}
.lgcmt{
height: 30px;
width: 30px;
max-width: 30px;
line-height: 30px;
}
.gNSeDc{
width:10px;
}
.menu-detalhes ul li{
font-size: 16px;
line-height: 24px;
}
.facebook-comments .content-box h4 {
font-size: 15px;
}
.facebook-comments .content-box .comentario .content-comentario .avatar {
width: 40px;
height: 40px;
}
.facebook-comments .content-box .comentario .text-comentario {
width: calc(100% - 50px);
}
.facebook-comments .content-box .comentario .text-comentario h3 {
font-size: 15px;
}
.facebook-comments .content-box .comentario .text-comentario p {
color: #1E1E1E;
font-size: 14px;
margin: 0 0 0;
line-height: 18px;
max-width: 100%;
}
.facebook-comments .content-box .comentario .text-comentario .d-flex span{
font-size: 13px;
}
.facebook-comments .content-box .comentario .respostas-comentarios {
padding-left: 20px;
margin: 20px 0 20px 20px;
border-left: 1px solid #ccc;
}
footer{
margin-top:80px;
padding-bottom: 100px;
}
footer .aviso{
top:-70px;
}
footer .content{
flex-wrap:wrap;
}
footer .content .aba.aba-links{
width:50%;
}
footer .content .aba.aba-links:nth-child(3){
margin: 30px 0;
}
footer .content .aba.aba-links:nth-child(4){
align-items: flex-end;
justify-content: flex-end;
padding-bottom: 34px;
}
footer .content .aba.aba-links:nth-child(5){
width:100%;   
}
footer .content .aba.aba-links:nth-child(5) ul{
display: flex;
}
footer .content .aba.aba-links:nth-child(5) ul li:first-child{
margin-right: 15px;
}
.progresso-mobile .porcentagem{
color: var(--cor-primaria);
font-weight: bold;
margin-right: 10px;
flex: 0 1 0%;
font-size: 18px;
}
.progresso-mobile .barra{
width: 100%;
overflow: hidden;
border-radius: 15px;
height: 10px;
background: rgb(241, 240, 240);
display: inline-block;
}
.progresso-mobile .barra .barraParcial{
overflow: hidden;
background: rgb(36, 202, 104);
height: 100%;
border-radius: 15px;
flex: 1 1 0%;
}
.arrecadacaoMobile{
font-size: 16px;
font-weight: normal;
margin-top: 10px;
}
.arrecadacaoMobile span{
color: rgb(138, 138, 138);
}
.arrecadacaoMobile strong{
font-size: 22px;
font-weight: 700;
color: var(--cor-primaria);
margin-right: 5px;
}
.resumo-mobile{
position: sticky;
top: 10px;
background: #fff;
z-index: 10;
padding: 20px 15px;
}
.detailsVakinha .detalhes .detalhes-view{
margin-bottom: -30px;
}
#fixed-mobile{
padding: 16px;
border-radius: 16px 16px 0px 0px;
background-color: rgb(255, 255, 255);
width: 100%;
position: fixed;
bottom: 0;
left: 0;
z-index: 5;
}
#fixed-mobile button.btn-ajudar{
-moz-box-align: center;
align-items: center;
cursor: pointer;
color: rgb(255, 255, 255);
border-radius: 8px;
display: flex;
-moz-box-pack: center;
justify-content: center;
border: 1px solid transparent;
background-color: var(--cor-primaria);
padding: 12px 16px;
width: 100%;
font-size: 20px;
line-height: 24px;
font-family: "Montserrat", serif;
transition: all .2s linear;
font-weight: 700;
}
#fixed-mobile button.btn-ajudar:hover{
background-color: var(--cor-secundaria);
}
.kclPJT {
order: -1;
flex: 0 0 100%;
max-width: 100%;
}
.xZJPQ {
order: 13;
flex: 0 0 100%;
max-width: 100%;
}
.hNIFhj {
flex-direction: column;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
}
.hNIFhj > div:nth-child(2) {
padding: 15px 40px;
max-width: 100%;
}
.hrWLqC {
display: none;
}
.hNIFhj > div:nth-child(2) * {
text-align: center;
}
.hNIFhj{
padding:25px 5px 15px;
}
.cDcoiR + span {
text-align: center;
margin-bottom: 20px;
}
section#pix h2 {
font-size: 24px;
margin: 0 auto 15px;
line-height: 30px;
}









































}